h3 {
    text-align: center;
}
.buttons{
    margin-top: 20px;
    width: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.main{
    margin: 0;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}