<div class="main">
  <ngx-wheel #wheel
    [width]='600'
    [height]='600'
    [spinDuration]='4'
    [disableSpinOnClick]='true'
    [items]="items"
    [innerRadius]='50'
    [spinAmount]='10'
    pointerStrokeColor='red'
    pointerFillColor='purple'
    [idToLandOn]='idToLandOn'
    (onSpinStart)='before()'
    (onSpinComplete)='after()'
  >
  </ngx-wheel>
  </div>

  <div class="main">
    <button (click)="playOrReset()" mat-raised-button>{{ buttonText }}</button>
    <button (click)="openPopup()" mat-raised-button color="primary">open popup</button>
  </div>

<app-dialog *ngIf="generalService.showDialog"></app-dialog>
<button (click)="generalService.showDialog = true">Show Dialog</button>